section.about {
  background-color: #F8D8C4;
  padding-top: 93px;
  padding-bottom: 50px;
  .aboutParent {
    display: flex;
    justify-content: center;
    .aboutRight {
      width: 514px;
      transform: translateX(146px);
      h2 {
        margin-top: 0;
        color: white;
        font-family: 'Playfair Display', serif;
        font-size: 46px;
      }
      p {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
      }
    }
  }
}