header {
  background-image: url(../assets/headerBackground.png);
  height: 100vh;
  .topNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    nav {
      margin-left: 36px;
      ul{
        display: flex;
        li {
          font-size: 18px;
          margin-right: 36px;
          font-family: 'PT Serif', serif;
          font-weight: bold;
          a {
            color: white;
          }
        } 
      }
    }
  }
  .heading {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
  }
  .topImages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .topImages > div:nth-child(1) > img:nth-child(1) {
    transform: translateX(25px);
  }
  .bottomImages {
    display: flex;
    justify-content: space-around;
    .bottomWords {
      display: flex;
    }
    .bottomWords > div:nth-child(1) > img:nth-child(1) {
      transform: translate(-62px)
    }
    .bottomWords > div:nth-child(2) > img:nth-child(1) {
      transform: translateY(33px);
    }

  }
}
